* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto",  Papyrus;
  background-image: url("tree_1.jpg");
  margin: 0;         /* code starts here to make screet fit any screen */
  width: 100%;
  height: 100%;
}

div {
    width: 100%;
    height: 100%;
}                       /* code ends here to make screet fit any screen */

/* Navigation */

.nav-container {
  /*background: #fffffa;*/
  background-image: url("tree_1.jpg");
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  height: 72px;
  margin-top: -65px;
  z-index: 500;
  position: relative;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}

nav .logo {
  font-family: "Poppins", Papyrus;
  font-style: normal;
  font-weight: 70px;
  font-size: 30px;
  color: #eff5f5;
}

.nav-items li {
  list-style: none;
  margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

.nav-items li a {
  color: #f5f5f5;
  font-size: 24px;
  font-family: "Poppins", Papyrus;
  text-decoration: none;
}

/* Header */

.header-container {
  /* background: #F0FFFF url("images/bg-shape.svg"); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-weight: 400;
  font-size: 44px;
  line-height: 100px;
  color: #01847f;
  margin-bottom: 24px;
}

header p1 {
  font-size: 25px;
  line-height: 40px;
  color: #021718;
  width: 418px;

  margin-bottom: 48px;
}

header p2 {
  font-size: 20px;
  line-height: 30px;
  color: #021718;
  width: 418px;

  margin-bottom: 48px;
}

/* button */
header a {
  color: #fffffa;
  font-size: 24px;
  text-decoration: none;
  font-family: Georgia;

  background: #01847f;
  border-radius: 8px;
  padding: 12px 48px;
  display: inline-block;
  transition: 300ms;
}

header a:hover {
  transform: translateY(-8px);
}

/* Social Icons */

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin: 0 24px;
}

.social-icons a:nth-of-type(1) {
  margin-left: 0;
}

/* Hero image */

header .hero-image {
  position: relative;
}

header .hero-image img {
  transition: 300ms;
  position: relative;
  z-index: 100;
}

header .hero-image img:hover {
  transform: rotate(-6deg);
}

header .hero-image .photo-bg {
  position: absolute;
  width: 430px;
  height: 560px;
  left: 45px;
  top: 24px;

  background: #44a1a0;
  transform: rotate(-6deg);
}

/* Search Box */

.search-box {
  width: 1200px;
  margin: 0 auto;
  text-align: right;
  position: relative;
  top: 0;
  z-index: 101;

  transition: 300ms;
}

.search-box.active {
  top: 72px;
}

.search-box input {
  background: #fffffa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 8px 8px;

  font-size: 24px;
  line-height: 42px;
  border: 0;
  padding: 12px 48px;
}

.search-box input::placeholder {
  color: #b3b3b3;
}

/* Search & Close Buttons */

.nav-btn-container {
  display: flex;
  position: relative;
}

.nav-btn-container img {
  position: absolute;
}

.nav-btn-container .close-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition: 300ms;
}

.nav-btn-container .search-btn {
  pointer-events: auto;
  transition: 300ms;
}

.nav-btn-container.active .search-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
}

.nav-btn-container.active .close-btn {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* Hidden Items */

.search-box {
  /* display: none; */
}
